/* To Delete --------------------------------------------------------- */

.project, .words, .images{
  border: px solid blue;
}

* {
  outline: px solid red;
}

/* Universal --------------------------------------------------------- */

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body{
  font-family: 'IBM Plex Mono', monospace;
}

video{
  width: 100%;
}

/* Nav Bar --------------------------------------------------------- */

#nav{
  height: 45px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  line-height: 45px;
  font-size: 22px;
  font-family: arial;
  position: fixed;
  top: 0;
  background: white;
  z-index: 9999;
}

#home{
   
}

#aboutlink{
  float: right;
  padding-right: 20px;
}

#about{
  display: none;
  width: 50vw;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 70px 30px;
  border-left: 1px solid;
  right: 0;
  z-index: 9998;
  background: white;
}

#bio{
  width: 80%;
}

#contact{
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: right;
  color: blue;
}

#close{
  position: fixed;
  bottom: 30px;
  color: red;
  cursor: pointer;
}

/* Project Divs --------------------------------------------------------- */

.project{
  margin: 50px;
  padding: 10px;
  height: 500px;
}

.words{
  float: left;
  width: 40%;
  padding: 10px;
  height: 100%;
  font-size: 14px;
}

.words > p{
  width: 50%;
  margin-bottom: 14px;
}

.title{
  
}

.info{
  float: right;
  margin-left: 50%;
  color: grey;
}

.desc{
  
}

.learn{
  color: red;
}

.learn:hover{
  font-style: italic;
}

.images{
  float: left;
  width: calc(60% - 10px);
  padding: 0px;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.images > img{
  min-width: 100%;
  min-height: 500px;
}

.carousel > div{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.left {
  margin-right: 10px;
}

.one{
  margin-top: 90px;
  color: ;
}

.two{
  color:  ;
}

.three{
  color:  ;
}

.four{
  color:  ;
}

/* Slider Nav --------------------------------------------------------- */


