/* Xavier Connelly Webiste --------------------------------------------------------- */

/* Universal --------------------------------------------------------- */

*{
  scroll-behavior: smooth;
}

*:not(.carousel){
}

.project, .words, .images{
  border: px solid blue;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  font-family: 'IBM Plex Mono', monospace;
}

#nav{
  height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  line-height: 50px;
  font-size: 25px;
  font-family: arial;
  position: fixed;
  top: 0;
  background: white;
}

#home{
   
}

#about{
  float: right;
  padding-right: 20px;
}

.project{
  margin: 50px;
  padding: 10px;
  height: 500px;
}

.words{
  float: left;
  width: 40%;
  padding: 10px;
  height: 100%;
  font-size: 14px;
}

.words > p{
  width: 50%;
  margin-bottom: 14px;
}

.title{
  
}

.info{
  float: right;
  margin-left: 50%;
  color: grey;
}

.desc{
  
}

.learn{
  color: red;
}

.images{
  float: left;
  width: calc(60% - 10px);
  padding: 0px;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.images > img{
  min-width: 100%;
  min-height: 500px;
}

.carousel > div{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.left {
  margin-right: 10px;
}

.one{
  margin-top: 90px;
  color: ;
}

.two{
  color:  ;
}

.three{
  color:  ;
}

.four{
  color:  ;
}
