@font-face {
    font-family: "Ionic";
    src: url("/css/ionic-mt-std.otf") format("opentype");
}

* {
   margin: 0;
   box-sizing: border-box;
   outline: px solid red;
   font-family: 'Ionic';
   /*font-family: 'IBM Plex Sans', sans-serif;*/
}

#left::-webkit-scrollbar {
   display: none;
}

a {
   text-decoration: none;
   color: red;
}

a:hover, .expand:hover {
   text-decoration: underline;
   color: blue;
}

sup, sup:hover {
   text-decoration: none;
}

body {
   color: #3c3b3b;
   background: #fef9f5;
   display: grid;
   grid-template-columns: 50vw 50vw;
   grid-template-rows: auto;
}

body > container > {
    overflow: hidden;
    padding: 20px;
}

video {
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.portrait video {
    width: 350px;
}

.landscape video {
    width: 500px;
}

#left {
    display: block;
    grid-column: 1 / 1;
    font-size: 18px;
    line-height: 1.3em;
    height: 100vh;
    overflow-Y: scroll;
    border-right: 2px solid black;
}

#left p {
    margin-left: ;
    padding-bottom: 1em;
    width: 50%;
}

#right {
    grid-column: 2 / 2;
    height: 100vh;
    overflow-Y: scroll;
    background: #ddae20;
}

#left:hover, #right:hover {
    background: white;
    transition: 0.5s;
}

#right:hover .text:not(.text:hover) {
   opacity: 0.2;
}

.text, .text:not(.text:hover) {
   transition: 1.25s;
}

svg {
    width: 400px;
}

#clickme-center {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#clickme {
    font-size: 35px;
    width: 400px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    position: absolute;
    top: 25%;
}

#clickme:hover {
    cursor: pointer;
    fill: red;
    animation: pause;
}
    
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#projects {
  display: none;
}

.text {
  width: 100%;
  text-align: left;
  font-size: 40px;
  line-height: 1.2em;
  padding-bottom: 1em;
}
 /*  
  filter: grayscale(100%);
}

.text:hover {
  filter: grayscale(0%);
  transition: 1s;
}
*/

.text:hover .text-left{
  opacity: 1;
}

.text-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-left > img {
  width: 400px;
  margin: 0 auto;
  display: flex;
}

.roles {
  font-size: 20px;
  text-align: center;
}

.expand {
  cursor: pointer;
  color: #3f51b5;
}

.more {
  font-size: 16px;
  line-height: initial;
  display: none;
  padding-top: 1em;
}

.more span img {
   height: 50px;
}

.more span {
   width: 50%;
}

.title {
  font-family: 'Archivo Black', sans-serif;
  color: red;
}

.wri-img-small {
    height: 1em;
    color: red;
    overflow: hidden;
    display: inline-block;
}

.wri-img-small img {
    height: 100%;
    overflow: hidden;
}

.wri-img-big > img {
    width: 400px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.text-left, .wri-img-big {
    pointer-events: none;
    position: fixed;
    top: calc(50%);
    left: 25vw;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: calc(100%); 
    color: #3c3b3b;
    background: #fef9f5;
    transition: 1s ease;
    opacity: 0;
    border-right: 2px solid black;
}

.wri-img-big-container {
    width: 70%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    opacity: 1;
}

.wri-img-big-container > img {
    width: 100%;
    border: 5px solid red;
    display: inline-block;
}

#wri-img-big-text {
    padding: 5px;
    font-size: 14px;
    line-height: 1em;
    font-style: ;
    width: 15%;
    color: black;
    background: white;
    position: absolute;
    top: 2em;
    left: 2em;
    display: inline-block;
    text-align: left;
    border: 1px solid;
}

.title:hover .wri-img-big,
.wri-img-small:hover .wri-img-big {
    opacity: 1;
}

.cover {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.middle {
    background-size: contain;
    height: 80%;
    width: 80%;
}

@media screen and (max-width: 900px) {
   .container {
      display: block;
   }
   #left {
      border-right: unset;
   }
   #right {
    display: none;
  }
}
